---
import Layout from "../layouts/Layout.astro";
const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));
allPosts.sort((p1, p2) => new Date(p2.frontmatter.date).getTime() - new Date(p1.frontmatter.date).getTime());
---

<Layout>
    <section>
        {
            allPosts.map((post) => (
                <li class="articleLink">
                    <a href={post.url}>{post.frontmatter.title}</a>
                    <span>{post.frontmatter.date.toString().slice(0,10)}</span>
                </li>
            ))
        }
    </section>
</Layout>
