---
import Layout from "../layouts/Layout.astro";
import lepnBanner from "../imgs/lepn-banner.png";

interface LinkData {
    name: string;
    comment: string;
    link: string;
    avatar: string;
    banner: ImageMetadata;
}

const linksData = [
    {
        name: "iepn",
        comment: "正在攻略炼狱难度副本挑战",
        link: "https://otvto.work",
        avatar: "https://avatars.githubusercontent.com/u/57232813?v=4",
        banner: lepnBanner,
    }
];
---

<Layout title="友情链接">
    <section>
        {
            linksData.map((data) => (
                <div
                    class="fr-link"
                    style={"background-image: url(" + data.banner.src + ")"}
                >
                    <a href={data.link}>
                        <div style="height:100%">
                            <div class="avater-layout">
                                <img
                                    src={data.avatar}
                                    class="avatar"
                                    alt={data.name + "'s avatar"}
                                />
                                <span class="name">{data.name}</span>
                            </div>
                            <div class="comment-layout">
                                <p>{data.comment}</p>
                            </div>
                        </div>
                    </a>
                </div>
            ))
        }
    </section>
    <style>
        .comment-layout {
            height: 55px;
            display: flex;
            align-items: center;
            flex-direction: row-reverse;
            background: #24282ff2;
            justify-content: center;
        }
        .avater-layout {
            display: flex;
            align-items: center;
        }
        .avatar {
            margin: 1rem;
            height: 4rem;
            width: 4rem;
            border-radius: 50%;
            border: 5px solid white;
        }
        .name {
            margin: 1rem -1px 1rem;
            font-size: larger;
            font-weight: bold;
        }
        .fr-link a {
            color: #4476b9;
            margin: 0;
        }
        .fr-link a:hover {
            text-shadow: none;
        }
        .fr-link p {
            text-align: center;
            font-size: 1.5rem;
            margin: 0;
            color: #ff9999;
        }
        .fr-link {
            margin: auto;
            background-color: #282c34;
            background-size: cover;
            border-radius: 0.25rem;
            width: 42rem;
            height: 10rem;
            margin-bottom: 4rem;
            border: 1px;
        }
    </style>
</Layout>
