---
import Layout from "../layouts/Layout.astro";
import IusxBanner from "../imgs/iusx-banner.png";

interface LinkData {
  name: string;
  comment: string;
  link: string;
  avatar: string;
  banner: ImageMetadata;
}

const linksData = [
  {
    name: "iusx",
    comment: "潜在的达尔文奖获得者之一",
    link: "https://m.ritsu.jiangxue.org/",
    avatar: "https://avatars.githubusercontent.com/u/57232813?v=4",
    banner: IusxBanner,
  },
];
---

<Layout title="友情链接">
    <section>
        {
            linksData.map((data) => (
                <div
                    class="fr-link"
                    style={data.banner && data.banner.src ? "background-image: url(" + data.banner.src + ");" : ""}
                >
                    <a href={data.link}>
                        <div style="height:100%">
                            <div class="avater-layout">
                                <img
                                    src={data.avatar}
                                    class="avatar"
                                    alt={data.name + "'s avatar"}
                                />
                                <span class="name">{data.name}</span>
                            </div>
                            <div class="comment-layout">
                                <p>"{data.comment}"</p>
                            </div>
                        </div>
                    </a>
                </div>
            ))
        }
    </section>
    <style>
        .comment-layout {
            height: 55px;
            display: flex;
            align-items: center;
            flex-direction: row-reverse;
            background: #00000024;
            justify-content: center;
        }
        .avater-layout {
            display: flex;
            align-items: center;
        }
        .avatar {
            margin: 1rem;
            height: 4rem;
            width: 4rem;
            border-radius: 50%;
            border: 5px solid white;
        }
        .name {
            margin: 1rem -1px 1rem;
            font-size: larger;
            font-weight: bold;
        }
        .fr-link a {
            margin: 0;
        }
        .fr-link a:hover {
            text-shadow: none;
        }
        .fr-link p {
            text-align: center;
            font-size: 1.2rem;
            margin: 0;
            color: #ff9999;
        }
        .fr-link {
            margin: auto;
            background-color: #282c34;
            background-size: cover;
            border-radius: 0.25rem;
            max-width: 42rem;
            height: 10rem;
            margin-bottom: 4rem;
            border: 1px;
            box-shadow: 0px 4px 64.5px 11px rgb(0 0 0 / 12%);
            border 1px solid rgb(255 255 255 / 5%);
        }
    </style>
</Layout>
