---
const { title } = Astro.props;
---

<header>
    <h1>{title ? title + "|" : ""}鸽子窝</h1>
    <nav>
        <a href="/">博文</a>
        <a href="/links">友情链接</a>
        <a href="/about">关于我</a>
    </nav>
</header>

<style>
    nav a {
        margin: 0 5px;
    }
</style>
