<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{{ get_url(path="main.css") | safe }}">
  <link href="/favicon.png" rel="icon" type="image/png">
  <title>鸽子窝</title>
</head>

<body>
  <header>
    <h1 class="title">鸽子窝</h1>
    <nav>
      <a href="/">主页</a>
      <a href="/blog">博文</a>
      <a href="/tags">标签</a>
      <a href="/archives">归档</a>
      <a href="/links">友情链接</a>
      <a href="/about">关于我</a>
    </nav>
  </header>
  <section class="container">
    {% block content %}
    {% endblock %}
  </section>
</body>

</html>
